.contents{
  margin-top: 50px;
}
.hero_area{
  height: 400px;
  display: flex;
  background-color: gainsboro;
}
.hero_area_contents{
  width: 900px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page_top{
  text-align: center;
}